<span class="amount-input__currency {{ if this.value "black" }}">{{this.currency}}</span>

<input
  class="amount-input__value {{ this.inputClass }} {{ if this.disabled "disabled" }}"
  id="amount-input"
  type="number"
  value={{this.value}}
  step={{this.step}}
  placeholder={{this.placeholder}}
  disabled={{this.disabled}}
  readonly={{this.readonly}} >
