{{! @glint-nocheck: not typesafe yet }}
<div class='amount-input' ...attributes>
  <span class='amount-input__currency {{if @value "black"}}'>
    {{this.currency}}
  </span>

  <input
    class='amount-input__value {{@inputClass}} {{if @disabled "disabled"}}'
    id={{this.inputId}}
    type='number'
    value={{@value}}
    min={{@min}}
    max={{@max}}
    step={{this.step}}
    placeholder={{this.placeholder}}
    disabled={{@disabled}}
    readonly={{@readonly}}
    {{on 'keydown' this.onKeyDown}}
    {{on 'input' this.onInput}}
    {{on 'focusout' this.onFocusOut}}
  />
</div>