<div class='amount-input' ...attributes>
  {{#unless this.isCurrencyEmpty}}
    <span class='amount-input__currency {{if @value "black"}}'>
      {{this.currency}}
    </span>
  {{/unless}}

  <input
    class='amount-input__value
      {{@inputClass}}
      {{if @disabled "disabled"}}
      {{unless this.isCurrencyEmpty "with-currency"}}'
    id={{this.inputId}}
    type='number'
    value={{@value}}
    min={{@min}}
    max={{@max}}
    step={{this.step}}
    placeholder={{this.placeholder}}
    disabled={{@disabled}}
    readonly={{@readonly}}
    {{on 'keydown' this.onKeyDown}}
    {{on 'input' this.onInput}}
    {{on 'paste' this.onPaste}}
    {{on 'focusout' this.onFocusOut}}
  />
</div>