<h1>AMOUNT-INPUT</h1>

<h2>Basic</h2>

{{#docs-demo as |demo|}}
  {{#demo.example name="amount-input-base"}}
    {{amount-input
      value=value
      update=(action (mut value)) }}
  {{/demo.example}}
  {{demo.snippet "amount-input-base"}}
{{/docs-demo}}

<h2>Disabled</h2>

{{#docs-demo as |demo|}}
  {{#demo.example name="amount-input-disabled"}}
    {{amount-input
      value=924.67
      disabled=true }}
  {{/demo.example}}
  {{demo.snippet "amount-input-disabled"}}
{{/docs-demo}}

<h2>Readonly</h2>

{{#docs-demo as |demo|}}
  {{#demo.example name="amount-input-readonly"}}
    {{amount-input
      value=924.67
      readonly=true }}
  {{/demo.example}}
  {{demo.snippet "amount-input-readonly"}}
{{/docs-demo}}

<h2>Advanced</h2>

{{#docs-demo as |demo|}}
  {{#demo.example name="amount-input-params"}}
    {{amount-input
      placeholder="1.000.000"
      step=1
      currency="USD"
      numberOfDecimal=0
      value=valueParams
      update=(action (mut valueParams)) }}
  {{/demo.example}}
  {{demo.snippet "amount-input-params"}}
{{/docs-demo}}
